/.idea
/node_modules
/app/Http/Controllers/Home
/public/assets
/public/hot
/public/storage
/resources/views/home
/resources/views/layouts/home
/storage/*.keys
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
