/project/.idea
/project/node_modules
/project/app/Http/Controllers/Home
/project/public/assets
/project/public/hot
/project/public/storage
/project/resources/views/home
/project/resources/views/layouts/home
/project/storage/*.keys
/project/vendor
/project/.env
/project/.phpunit.result.cache
/project/Homestead.json
/project/Homestead.yaml
/project/npm-debug.log
/project/yarn-error.log
